{% extends "base.html" %}

{% block title %}Admin - Booked Appointments{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-4">Booked Appointments</h1>
<table class="min-w-full bg-white">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b">Client Name</th>
            <th class="py-2 px-4 border-b">Address</th>
            <th class="py-2 px-4 border-b">Date</th>
            <th class="py-2 px-4 border-b">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td class="py-2 px-4 border-b">{{ appointment.client_name }}</td>
            <td class="py-2 px-4 border-b">{{ appointment.address }}</td>
            <td class="py-2 px-4 border-b">{{ appointment.appointment_time.strftime('%B %d, %Y') }}</td>
            <td class="py-2 px-4 border-b">{{ appointment.appointment_time.strftime('%I:%M %p') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
